body {
    background-color: #FCF9EF;
}

.padding-top {
    padding-top:10%;
}

.pages {
      padding-left: 200px!important;
    }

    
/******* Cards *******/


.card-tabs{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}

.tabs.tabs-fixed-width {
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;  
}

.card {
    background-color: #f9fafa;
    border-radius: 10px;
}


/******* Tabs *******/


.tabs .indicator {
    height:4px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 188, 212, 0.1);
    outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #00bcd4;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(0, 188, 212, 0.1);
}

.tabs .indicator {
    background-color: #00bcd4!important;
}


.tabs .tab a {
    color: rgba(9, 125, 172, 0.7);
}
.pages {
      padding-left: 200px!important;
    }

/******* Inputs *******/

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00bcd4;
    -webkit-box-shadow: 0 1px 0 0 #00bcd4;
    box-shadow: 0 1px 0 0 #00bcd4;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #00bcd4;
}

@media only screen and (min-width: 993px)
.container {
    width: 70%;
    padding-left: 200px;
}